App goal/use case: Should be able to handle massive data coming from very large number of machines, 
should be able to provide dashboard type of view and user should be able to choose each machine in each location
and then provide precision guidance. User should be able to control machine remotely if required.
Base path + project folder name: base path: /Users/bhimupadhyaya/coding_common/misc, project folder: field_app
Stack (frontend/backend/db/infra): Front end: React.js and related stack, backend: Java+SpringBoot, DB: postgres, infra: should be able to have planet level scalability, to be deployed into AWS, GCP, and Azure eventually. Can be tested in docker+kubernetes environment locally
Features (must-have first): 
-The app should have login screen
-The app should provide role based access control: provide options to configure roles and access to various features of the app.
-Initially, create these users with these control: admin: all access, manager1: manage device and control, user1: read device data, partial control, depending upon what kind of device it is (note: provide option to admin to control which device the user will be able to control partially, partial control example: control lane navigation, control loading and picking, but cannot steer the device out of the defined zone, will add more features later)
-Once a user logs in, it should provide menu to select different flows.
-It should have a separate page for device search
-It should have a separate page for device data entry
-It should have a separate page for device data dashboard
-From dashboard, user should be able to dril down item of interest and navigate the field for harvesting, picking, loading, unloading, etc
-It should have users entry and search pages (separate ones), should be able to navigate to these pages from main landing page
-It should have a separate page for device essential data: registration or rental information, payment history, license history, rental history, ownership history, fuel status, repair history, and other similar essential data to be able to operate the device technically and legally
-It should have user administration page and this page should be accessible to admin and managers assigned by admin
-It should have snapshot backup feature, that is, at any point admin should be able to capture snapshot current state of the application and should be able to roll back if necessary
-It should have feature to cleanup older snapshots (application state) based on configuration. Admin should be able to configure how many snapshots cannot be cleared and how old snapshots can be cleared
-Admin only: it should show which user is being served by which datacenter's runtime of the application, should have separate page showing all online and offline users and their serving data centers
-It should have a separate page to show application traffic
-Layout option should be presented as one of the options in the main menu page for application visual and functionality configuration
-All devices should have status that shows whether device is operable or not and if operable, should show if currently in operation or parked
-There should be a separate page under Device that shows all critical parts of the device health status: like engine total life time and current age, batteries status, major connection health, major robotic arms health, wheel health and wearing info, wheel air pressure info, cabin temperature, vehicle main parts temperature, etc
-At all time, the app should show the current location of the device whether operational or parked, this info should be visible to admin and assigned manager (one manager can manage multiple devices). Manager can delegate some of the tasks to users
-There should be a separate dealer connection page: that should have features to connect to dealer for maintenance, parts purchase, maintenance history, sales history, etc. Dealer page should be accessible to admin and select managers assigned by admin
-Dealers are types of users who have access to Dealers page and other pages granted by the admin or select managers
-Initially the test application should populate at least 10 devices of 15 different typess. For devices and types refer: https://www.deere.com/en/. Here are some examples: Compact tractors, Mowers, Gator Utility Vehicle, Precision Upgrades, Tractors, Excavators, Compact Construction equipments. Types examples: for tractor: Compact tractors, utility tractors, specialty tractors, row crop tractors, 4wd tractors, scraper tractors
-In addition, the home page (main landing page after successful login), should have these main options: Finance, Parts and Services, Digital, Our Company & Purpose. Each of these main menu item should have sub menu items that have separate pages.
-Note: Main menu should have Device as one of the main item, use Device/Equipment
-Equipment menu item (when user hovers on Equipment or Device), it should show these options: All Products, Lawn & Garden, Electric, Agriculture, Construction, Landscaping and Grounds care, Golf and Sports Turf, Forestry and Logging, Engines and Drivetrain, Electronics, Government and Military Sales, Attachments, Accessories, & Implements, Technology products, Rental Sales, View Used Equipment. When one of these menu items is clicked, it should take to a separate page. 
-Finance menu items: Offers and Discounts, Make a Payment, Manage My Account, Financial, Agriculture, Construction, Landscaping & Grounds Care, Lawn & Garden, Golf and Sports Turf, Foresting and Logging. When user clicks on one of these menu items, the app should take to a new page (note when new pages are shown it should be ajax based, should not do entire screen refresh. Note whole app is single page application with new pages appropriately coming as additional component of the single page, you decide how to display that best and provide best user experience)
-Parts and Service menu items: Parts, Run It Your Way, Buy Parts, Manuals and Training, Owner Support, Warranty, Service and Protection Plans, Stellar Support, Recalls, Safety, Self-Repair, 
-Digital menu item: Digital Tools. when user clicks, user should be taken to a separate page (again ajax in nature with single page application in mind) that has links to all related services: Operations Center, Equipment Mobile, MyFinancials, iOS Mobile Apps, Android Mobile Apps, GNSS & Starfile Tools, Company University, Product Activation and Management, Rewards, Display & Command Simulator, TimberManager, SmartGrade Remote Support, Customer Service Advisor
-Our Company & Purpose menu items: Our Company & Purpose, U.S. Impact, Locations, Careers, Explore the Company, News, Technology & Innovation, Investor Relations. When each of these menu item is clicked, user should be taken to new page. User should never leave the home/landing page since it is a single page application. Leave enough room for all menu item pages to be designed and filled later during recursive application improvement. We will do it interactively if you cannot decide on your own.
Visual/design requirements: get styles from https://www.livecoinwatch.com/. The app should provide layout options as well, similar to https://www.livecoinwatch.com/. you can get some of the visual appeals from https://www.jeton.com/ too. Speed and scalability should be as good as google.com. you can refer https://linear.app/ as well, it renders fast.  
Performance targets (page/API latency, load expectations): Page latency should be less than a second. Loading expectation is also less than a second.
Security requirements (auth, roles, data rules, audit, encryption): The application should implement role based access control, allowing millions of users around the world with world language support. The application should implement encryption wherever necessary. example: PII data should be encrypted. The application should have re-configurable encryption for future enhancement. For example if new encryption algorithms or libraries are available, the app should be upgradable. The application should have "Audit" as one of menu item accessible for admin. There can be more than one admin. Only super admin can create admin roles. Only super admin should be able to upgrade technical stack like new encryption algorithms, etc. Admins are generally for functionality administrations. Managers can have multiple users reporting to them. Users can be employees or contractors. Managers cannot be contractors. Contractors always should have user level privilege. 
Deployment/runtime requirements (Docker/K8s/cloud/local): docker+kubernetes for local testing looks good. The app should be planet level scalability like https://www.google.com/. Should be easily scalable when deployed to AWS, GCP, and Azure. There should be a separate super admin page that should show what are all datacenters the app is currently running and in which cloud providers like AWS, GCP, Azure. The superadmin page should provide zonal and regional information of each cloud provider in terms of this app (like where it is running, what is user traffic in each region, zone, data centers, etc; it should also have user traffic info with load balancing information so that super admin knows how to optimize in terms of cloud providers, zones, regions, datacenters, etc).
The superadmin page should have separate page for AI based management and integration option. For example, super admin should be able to integrate new AI app and manage this app's all aspect, including recursive development and production support, including data migration and long term data storage. The super admin page should have detailed application audits available. Audits of each and every activity by all users within the application along with timestamp. Assume that enough storage will be available to track this info. Super admin should also have all detail audits info of all Equipments currently running.
Any deadlines or priority order: don't worry about it now. I will provide that info later if necessary.